name: CD
on:
  push:
    tags:
      - '*/v*'

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v2.3.4

      - name: Set up Gradle cache
        uses: actions/cache@v2.1.4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - uses: actions/github-script@v3.1.0
        id: ref
        with:
          script: |
            const tagName = context.ref.slice("refs/tags/".length)
            const [project, version] = tagName.split('/', 2)
            core.setOutput('tagName', tagName)
            core.setOutput('project', project)
            core.setOutput('version', version)


      - name: Publish release ${{ steps.ref.outputs.tagName }}
        run: gradle :${{ steps.ref.outputs.project }}:upload
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}
